:root{
    --color_beige: #F5DAD2;
    --color_vanilla: #FCFFE0;
    --color_lgreen: #BACD92;
    --color_dgreen: #75A47F;
}
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
/* #region Fonts */
.font_title800{
        font-family: "Rubik Mono One", monospace;
        font-weight: 800;
        font-style: normal;
}
.font_title400{
        font-family: "Rubik Mono One", monospace;
        font-weight: 400;
        font-style: normal;
}
.font_text{
    font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: normal;
}
/* #endregion */

body{
    margin: auto;
    background-color: var(--color_beige);
    /* text-align: center; */
}
a{
    text-decoration: none;
    color: black;
}
section h1{
    font-family: "Rubik Mono One", monospace;
        font-weight: 800;
        font-style: normal;
    
        text-align: center;
        font-size: 4rem;
        padding-top: 2rem;
        color: var(--color_dgreen);
}
/*  #region Header */
header{
    text-align: end;
    margin: 1rem;
    margin-inline: 2rem;
    
}
header a{
    padding: 1rem;
    font-family: "Rubik Mono One", monospace;
        font-weight: 400;
        font-style: normal;
}
header a:hover{
    color: var(--color_dgreen);
}
/*  #endregion */

/*  #region Nav és Gombok */
nav{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: flex-end;
    /* border-bottom: 2px solid black; */
    background-color: var(--color_dgreen);
    /* box-shadow: rgba(0, 0, 0, 0.24) 100px; */
}
#logo{
    position: absolute;
    font-size: 1.3rem;
    font-weight: 600;
    top: 1rem;
    left: 1rem;
}
.nav_buttons{
    margin-inline: 2rem;
    margin-block: 1.2rem;
    
}
.nav_buttons a{
    padding: 1rem;
    font-family: "Rubik Mono One", monospace;
        font-weight: 800;
        font-style: normal;
}
.nav_buttons a:hover{
    background-color: var(--color_lgreen);
    color: #f1f1f1;
}
/*  #endregion */

/*  #region Landing section */
#landing{
    background-color: black;
    height: 78vh;
    width: 100vw;
}
/* #endregion */

/* #region Szolgáltatások */
#services_grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/* #endregion */

/* #region Szolgáltatások */
#projects{
    text-align: center;
}
/* #endregion */

/* #region Szolgáltatások */
#contact{
    text-align: center;
}
/* #endregion */